/* Responsive Code */
@media (max-width: 1024px) {
  .page__header {
    margin: 20px 20px 100px 20px;
  }

  .page__main {
    margin: 0px 20px 20px 20px;
  }

  .text-area__wrapper {
    flex-basis: 80%;
  }

  .tiles {
    flex-wrap: wrap;
    row-gap: 20px;
  }

  .tile {
    flex-basis: calc(50% - 15px);
  }
}

@media (max-width: 768px) {
  .page__header {
    margin: 15px 15px 80px 15px;
  }

  .page__main {
    margin: 0px 15px 15px 15px;
  }
  /* Responsive Styles for Navbar */
@media (max-width: 668px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.nav__logo {
    margin-bottom: 10px;
}

.nav__link-section {
    width: 100%;
    justify-content: space-between;
}

.nav__name {
    font-size: 20px;
}

.nav__login {
    width: 80px;
    height: 28px;
    font-size: 12px;
}
}


  .keyboard {
    row-gap: 4px;
  }

  .keyboard__row {
    column-gap: 4px;
  }

  .key {
    width: 35px;
    height: 35px;
    font-size: 14px;
  }

  .key_space {
    width: 200px;
  }

  .text-area__wrapper {
    flex-basis: 90%;
  }

  .tile {
    flex-basis: 100%;
    height: 50px;
    padding: 20px 15px 20px 15px;
  }

  .tile__value {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .page__header {
    margin: 10px 10px 60px 10px;
  }

  .page__main {
    margin: 0px 10px 10px 10px;
  }
  .key {
    width: 30px;
    height: 30px;
    font-size: 12px;
  }

  .key_space {
    width: 150px;
  }

  .text-area__wrapper {
    flex-basis: 95%;
  }

  .tile {
    height: 40px;
    padding: 15px 10px 15px 10px;
  }

  .tile__heading {
    font-size: 14px;
  }

  .tile__value {
    font-size: 20px;
  }
}

/* Add this to your existing responsive CSS file */

@media (max-width: 768px) {
  .leaderboard__content {
    width: 95%;
    padding: 15px;
  }

  .leaderboard__table th,
  .leaderboard__table td {
    padding: 8px;
    font-size: 14px;
  }

  .leaderboard__title {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .leaderboard__table {
    font-size: 12px;
  }

  .leaderboard__table th,
  .leaderboard__table td {
    padding: 6px;
  }

  .leaderboard__table th:nth-child(5),
  .leaderboard__table td:nth-child(5) {
    display: none;
  }
}

